//Colors
$white: #ffffff;
$dark: #000000;
$ligth-grey: #B5B5B5;
$grey: #666666;
$ligth-dark: #3C3C3C;
$tl-main-ligth: #77CCC8;
$tl-main: #43B3AE;
$tl-main-dark: #2E7B78;
$td-main-light: #D18487;
$td-main: #BC4C51;
$td-main-dark: #883337;

//Font-sizes
$h1-header: 32px;
$h2-header: 24px;
$h3-header: 18px;
$h4-header: 15px;
$h5-header: 13px;
$h6-header: 11px;
$regular-text: 16px;
$small-text: 11px