.skills-container {
  padding-top: 30px;
  width: 80%;
}

.front-carousel {
  -webkit-perspective: 50px;
  perspective: 50px;
  width: 200px;
  height: 200px;
  top: 10px;
  position: relative;
  margin: 10px auto;
}

@keyframes carouselEffect {
  from {
    -webkit-transform: rotateY(360deg) translateZ(20px) rotateY(-360deg);
    -moz-transform: rotateY(360deg) translateZ(20px) rotateY(-360deg);
    z-index: 10;
    opacity: 1;
  }
  50% {
    z-index: -10;
  }
  to {
    -webkit-transform: rotateY(0deg) translateZ(20px) rotateY(0deg);
    -moz-transform: rotateY(0deg) translateZ(20px) rotateY(0deg);
    z-index: 10;
    opacity: 1;
  }
}

@-webkit-keyframes carouselEffect {
  from {
    -webkit-transform: rotateY(360deg) translateZ(20px) rotateY(-360deg);
    -moz-transform: rotateY(360deg) translateZ(20px) rotateY(-360deg);
    z-index: 10;
    opacity: 1;
  }
  50% {
    z-index: -10;
  }
  to {
    -webkit-transform: rotateY(0deg) translateZ(20px) rotateY(0deg);
    -moz-transform: rotateY(0deg) translateZ(20px) rotateY(0deg);
    z-index: 10;
    opacity: 1;
  }
}

.front-card {
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: #000;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 35px;
  left: 15px;
  font-size: 9px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-animation-name: carouselEffect;
  animation-name: carouselEffect;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.front-card.card1 {
  /* background: linear-gradient(-150deg, #e56027, #e44d26); */
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

.front-card.card2 {
  /* background: linear-gradient(-229deg, #264de4, #2965f1); */
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.front-card.card3 {
  /* background: #f0db4f; */
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.front-card.card4 {
  /* background: linear-gradient(-229deg, #264de4, #2965f1); */
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.front-card.card5 {
  /* background: #222; */
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.front-card.card6 {
  background: #000;
  /*   -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    animation-delay: -1s; */
}

.soft-container {
  padding: 30px 0;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (100px)[4];
      grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.soft-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soft-container > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  max-height: 200px;
  margin: 0;
  overflow: hidden;
}
/*# sourceMappingURL=Skills.css.map */