.hero-container {
  position: relative;
  height: 100%;
  /*  background-image: url(../../images/code-bg.png);
    background-repeat: no-repeat;
    background-position: top; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Bebas Neue', cursive;
}

.hero-video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  margin: auto;
  max-width: 80%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-title-container {
  min-width: 200px;
  max-width: 400px;
  height: 350px;
}

.main-title-container span {
  font-size: 45px;
  color: #006666;
  text-shadow: #006666 2px 2px 5px;
}

.main-title-container p {
  font-size: 45px;
  font-weight: 700;
  color: #5bc6a9;
  text-shadow: #5bc6a9 2px 2px 5px;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
  -webkit-text-size-adjust: 0;
     -moz-text-size-adjust: 0;
      -ms-text-size-adjust: 0;
          text-size-adjust: 0;
}

.main-title-container .webDev-title {
  font-size: 45px;
  font-weight: 700;
  color: #6840ce;
  text-shadow: #6840ce 2px 2px 5px;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

.dark-main-title-container {
  min-width: 200px;
  max-width: 400px;
  height: 350px;
}

.dark-main-title-container span {
  font-size: 45px;
  color: #883337;
  text-shadow: #883337 0px 0px 5px;
}

.dark-main-title-container p {
  font-size: 45px;
  font-weight: 700;
  color: #BC4C51;
  text-shadow: #BC4C51 0px 0px 5px;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
  -webkit-text-size-adjust: 0;
     -moz-text-size-adjust: 0;
      -ms-text-size-adjust: 0;
          text-size-adjust: 0;
}

.dark-main-title-container .webDev-title {
  font-size: 45px;
  font-weight: 700;
  color: #0033cc;
  text-shadow: #0033cc 0px 0px 5px;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

.typewrite-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.typewrite-styles {
  font-size: 32px;
  color: #006666;
  text-shadow: #006666 0px 0 10px;
}

.cursor-typewrite-style {
  font-size: 32px;
  color: #006666;
}

.hero-text > button {
  margin-top: 80px;
  -webkit-box-shadow: 0px 0px 10px #6840ce;
          box-shadow: 0px 0px 10px #6840ce;
}

.hero-text > .dark-button {
  background-color: #883337;
  -webkit-box-shadow: 0px 0px 10px #883337;
          box-shadow: 0px 0px 10px #883337;
}

.hero-text > button a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 610px) {
  .main-title-container span {
    font-size: 60px;
  }
  .main-title-container p {
    font-size: 60px;
    font-weight: 700;
  }
  .main-title-container .webDev-title {
    font-size: 60px;
  }
  .dark-main-title-container span {
    font-size: 60px;
  }
  .dark-main-title-container p {
    font-size: 60px;
    font-weight: 700;
  }
  .dark-main-title-container .webDev-title {
    font-size: 60px;
  }
}

@media screen and (min-width: 800px) {
  .hero-text {
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }
  .main-title-container {
    margin-top: 50px;
  }
  .main-title-container span {
    font-size: 70px;
  }
  .main-title-container p {
    font-size: 70px;
    font-weight: 700;
  }
  .main-title-container .webDev-title {
    font-size: 70px;
  }
  .dark-main-title-container {
    margin-top: 50px;
  }
  .dark-main-title-container span {
    font-size: 70px;
  }
  .dark-main-title-container p {
    font-size: 70px;
    font-weight: 700;
  }
  .dark-main-title-container .webDev-title {
    font-size: 70px;
  }
}
/*# sourceMappingURL=HomeStyles.css.map */