html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3a3a3a;
  background-color: #FFFFFF;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  width: 100%;
  height: auto;
}

section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background-color: #ffffff;
  border: 3px solid #8fe6b8;
  border-left: 0px;
  border-right: 0px;
}

.dark-section {
  background-color: #222222;
  border: 3px solid #D18487;
  border-left: 0px;
  border-right: 0px;
}

.visible {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.fadeBottom {
  opacity: 0;
  -webkit-transform: translate(0, -10vh);
          transform: translate(0, -10vh);
  -webkit-transition: all 2s;
  transition: all 2s;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  margin-top: 30px;
  color: #006666;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  text-align: start;
}

p {
  margin: 0;
}

button {
  width: 120px;
  height: 35px;
  background-color: #6840ce;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1rem;
}

.dark-button {
  background-color: #883337;
  -webkit-box-shadow: 0px 0px 10px #883337;
          box-shadow: 0px 0px 10px #883337;
}

.navBar-container,
.dark-navBar-container {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  right: 10px;
  bottom: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #5bc6a9;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #8fe6b8;
}

.dark-menu {
  background-color: #3a3a3a;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  background: #ffffff;
  font-size: 24px;
}

.bm-menu > a {
  text-decoration: none;
  color: #006666;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  text-align: center;
  width: 100%;
  color: #006666;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: #006666;
  font-weight: 700;
  padding: 10px;
}

.bm-item:hover {
  background-color: #006666;
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.title-divider {
  background-color: #f0eef0;
  width: 180px;
  height: 3px;
  border-radius: 10px;
}

.divider {
  background-color: #8fe6b8;
  -webkit-box-shadow: 0px 0px 7px #8fe6b8;
          box-shadow: 0px 0px 7px #8fe6b8;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  width: 80%;
  height: 8px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
}

.dark-divider {
  background-color: #BC4C51;
  -webkit-box-shadow: 0px 0px 7px #BC4C51;
          box-shadow: 0px 0px 7px #BC4C51;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  width: 80%;
  height: 8px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
}

.last-section {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  background-color: #f0eef0;
}

.dark-last-section {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #b5b3b5;
}

.settingsMenu-cotainer {
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  height: 70px;
}

.settingButton-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.light-theme-icon {
  font-size: 24px;
  color: #006666;
  cursor: pointer;
}

.light-theme-icon:hover {
  color: #8fe6b8;
}

.dark-theme-icon {
  font-size: 24px;
  color: #883337;
  cursor: pointer;
}

.dark-theme-icon:hover {
  color: #D18487;
}

@media screen and (min-width: 800px) {
  .bm-burger-button {
    display: none;
  }
  .navBar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
    color: #006666;
  }
  .dark-navBar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #222222;
    color: #883337;
  }
  .logo-container {
    width: 20%;
  }
  .menu-container {
    width: 80%;
  }
  .menu-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin: 0;
  }
  .menu-container ul li {
    list-style: none;
    padding: 8px 15px;
  }
  .menu-container ul li a {
    color: #006666;
    text-shadow: #006666 0px 0px 2px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  .menu-container ul a:hover {
    background-color: #006666;
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 2px;
  }
  .dark-menu-container {
    width: 80%;
  }
  .dark-menu-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin: 0;
  }
  .dark-menu-container ul li {
    list-style: none;
    padding: 8px 15px;
  }
  .dark-menu-container ul li a {
    color: #883337;
    text-shadow: #883337 0px 0px 2px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  .dark-menu-container ul a:hover {
    background-color: #883337;
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 2px;
  }
}
/*# sourceMappingURL=Index.css.map */