@import '../../styles/variables.scss';

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $ligth-dark;
    background-color: #FFFFFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

img {
    width: 100%;
    height: auto;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: $white;
    border: 3px solid $tl-main-ligth;
    border-left: 0px;
    border-right: 0px;
}

.dark-section {
    background-color: $dark;
    border: 3px solid $td-main-light;
    border-left: 0px;
    border-right: 0px;
}

.visible {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}

.fadeBottom {
    opacity: 0;
    transform: translate(0, -10vh);
    transition: all 2s;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    margin-top: 30px;
    color: $tl-main-dark;
    font-size: $h2-header;
    font-weight: 700;
}

h3 {
    text-align: start;
}

p {
    margin: 0;
}


button {
    width: 120px;
    height: 35px;
    background-color: $tl-contrast;
    border-radius: 7px;
    border: none;
    color: $white;
    font-size: $regular-text;
    font-weight: 700;
    letter-spacing: .1rem;
}

.dark-button {
    background-color: $td-main-dark;
    box-shadow: 0px 0px 10px $td-main-dark;
}

.navBar-container,
.dark-navBar-container {
    display: none;
}


//Burger button styles

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    right: 10px;
    bottom: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: $tl-main;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: $tl-main-ligth;
}

.dark-menu {
    background-color: $ligth-dark;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    background: $white;
    font-size: $h2-header;
}

.bm-menu>a {
    text-decoration: none;
    color: $tl-main-dark;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    text-align: center;
    width: 100%;
    color: $tl-main-dark;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-decoration: none;
    color: $tl-main-dark;
    font-weight: 700;
    padding: 10px;
}

.bm-item:hover {
    background-color: $tl-main-dark;
    color: $white;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

//Dividers

.title-divider {
    background-color: $ligth-grey;
    width: 180px;
    height: 3px;
    border-radius: 10px;
}

.divider {
    background-color: $tl-main-ligth;
    box-shadow: 0px 0px 7px $tl-main-ligth;
    backdrop-filter: blur(100px);
    width: 80%;
    height: 8px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

.dark-divider {
    background-color: $td-main;
    box-shadow: 0px 0px 7px $td-main;
    backdrop-filter: blur(100px);
    width: 80%;
    height: 8px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

.last-section {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    background-color: $ligth-grey;
}

.dark-last-section {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $grey;
}

//Settings Menu
.settingsMenu-cotainer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100px;
    height: 70px;
}

.settingButton-container {
    display: flex;
}

.light-theme-icon {
    font-size: $h2-header;
    color: $tl-main-dark;
    cursor: pointer;
}

.light-theme-icon:hover {
    color: $tl-main-ligth;
}

.dark-theme-icon {
    font-size: $h2-header;
    color: $td-main-dark;
    cursor: pointer;
}

.dark-theme-icon:hover {
    color: $td-main-light;
}


@media screen and (min-width: 800px) {
    .bm-burger-button {
        display: none;
    }

    .navBar-container {
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: $white;
        color: $tl-main-dark;


    }

    .dark-navBar-container {
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: $dark;
        color: $td-main-dark;
    }

    .logo-container {
        width: 20%;
    }

    .menu-container {
        width: 80%;

        ul {
            display: flex;
            justify-content: space-around;
            width: 90%;
            margin: 0;

            li {
                list-style: none;
                padding: 8px 15px;

                a {
                    color: $tl-main-dark;
                    text-shadow: $tl-main-dark 0px 0px 2px;
                    text-decoration: none;
                    font-size: $h3-header;
                    padding: 8px 15px;
                }
            }

            a:hover {
                background-color: $tl-main-dark;
                color: $white;
                text-shadow: $white 0px 0px 2px;

            }
        }
    }

    .dark-menu-container {
        width: 80%;

        ul {
            display: flex;
            justify-content: space-around;
            width: 90%;
            margin: 0;

            li {
                list-style: none;
                padding: 8px 15px;

                a {
                    color: $td-main-dark;
                    text-shadow: $td-main-dark 0px 0px 2px;
                    text-decoration: none;
                    font-size: $h3-header;
                    padding: 8px 15px;
                }
            }

            a:hover {
                background-color: $td-main-dark;
                color: $white;
                text-shadow: $white 0px 0px 2px;
            }
        }
    }
}